<div class="example-wrapper">
    <h1>Cards</h1>

    <h2>Library</h2>
    <hr/>
    {% for entity in entities %}
        <div class="card">
            <div class="cardHeader">
                <span><b>{{ entity.name }}</b> ({{ entity.category.name }})</span>
                <span> </span>
            </div>
            <div class="cardImage" style="background-image: url('{{ asset('/uploads/cards/' ~ entity.image) }}')"></div>
            <div class="cardFooter">
                <div class="cardNumber text-primary">{{ entity.mana }}</div>
                <div class="cardNumber text-danger">{{ entity.life }}</div>
                <div class="cardNumber text-success">{{ entity.attack }}</div>
            </div>
            <div class="cardDescription text-center text-small text-truncate mt-2">
                <p>{{ entity.description }}</p>
            </div>
        </div>

    {% endfor %}

    <h2>Add a card</h2>
    <hr/>
    {{ form_start(form, {'action': path(app.request.attributes.get('_route')), 'method': 'POST' , 'encrypte': 'form-data' }) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>